{% extends "bootstrap/base.html" %}

{% block title %} Delay prediction {% endblock %}

{% block styles %}
{{super()}}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block content %}


<div class="container">
  <div class="jumbotron" style="padding-top: 20px; padding-bottom: 0px; ">
    <center><h2>CS- 5593 Data Mining - Group Project </h2><br>
    <h3>Group Members</h3>
    <div class="row">
      <div class="col-lg-6">
        <h3>1.Sarvesh Prattipati</h3>
        <h3>3.Sharath Mudhigonda</h3>
      </div>
      <div class="col-lg-6">
        <h3>2.Ram Sharan Tummala</h3>
        <h3>4. Anand Sai Bodicharla</h3>
      </div>
    </div>
</center>
 </div>
</div>


<div class="container">
    l={{l}}
    r={{r}}
    rf={{rf}}
    nn={{nn}}
    svm = {{svm}}
</div>


{% endblock %}